* {
    box-sizing: border-box;
}
 
    ul{
        padding: 0px;
        margin: 0px;
        list-style: none; 
        gap: 1rem;
        
        li{ 
            background-color: rgb(194, 194, 255);
            list-style: none; 
            margin:15px; 
            border-radius: 15px;
            text-align: center;
        }
        li:active{
            background-color:rgb(157, 157, 255);
        }
        li:hover{
            background-color: rgb(157, 157, 255);
        }
    }


.a{
    color: #fff;
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: stretch;
    font-size: 14px;
    padding: 3px;
}
